<html>
        <head>
            <title>Edit</title>
        </head>
        <body>
           <form action = '/quotes/<%=quotes._id%>', method = 'POST'>
                <br>Name: <input type = 'text' name = 'name'></br>
                <br>Quote: <input type = 'text' name = 'quote'></br>
                <input type = 'submit' value = "Edit">
           </form>
        </body>
    </html>