<html>
        <head>
            <title>Show</title>
        </head>
        <body>
            <p>Name: <%= quotes.name %></p>
            <p>Quote: <%= quotes.quote %></p>
            <p>Created At: <%= quotes.createdAt %></p>
        </body>
    </html>